.inner {
  width: 100%;
  max-width: 1072px;
  padding: 2.4rem;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .inner {
    padding: 2.4rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.6rem;
}
.buttons .addBtn {
  background-color: #80c4d8;
  color: #fff;
  margin-right: 0.8rem;
}
.buttons .backBtn {
  background-color: #928178;
  color: #fff;
  margin-right: 0.8rem;
}