.inner {
  width: 100%;
  max-width: 1072px;
  padding: 2.4rem;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .inner {
    padding: 2.4rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.6rem;
}
.buttons .addBtn {
  background-color: #80c4d8;
  color: #fff;
  margin-right: 0.8rem;
}
.buttons .backBtn {
  background-color: #928178;
  color: #fff;
  margin-right: 0.8rem;
}

.add {
  background-image: url(../../img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.add .add__container {
  max-width: 1072px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.add .add__container .add__box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #928178;
  padding: 2.4rem;
  width: 70%;
}
.add .add__container .add__box .add__title {
  margin-bottom: 2.4rem;
}

.add__flexBox {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}
.add__flexBox .add__dt {
  width: 30%;
}
.add__flexBox .add__dd {
  margin-left: 3.6rem;
  margin-bottom: 0;
  width: 50%;
}
.add__flexBox .add__dd input {
  width: 100%;
  line-height: 2rem;
}