.inner {
  width: 100%;
  max-width: 1072px;
  padding: 2.4rem;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .inner {
    padding: 2.4rem;
  }
}

.inner {
  width: 100%;
  max-width: 1072px;
  padding: 2.4rem;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .inner {
    padding: 2.4rem;
  }
}

.top {
  margin-top: -1.5rem;
}
.top .top__bg {
  background-image: url(../../img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 30vh;
}
.top .top__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1072px;
  margin-top: -2rem;
}
.top .top__icon .top__iconImg {
  width: 70px;
}

#main {
  margin-top: 3.6rem;
  margin-bottom: 4.8rem;
}
#main .main__buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.6rem;
}
#main .main__buttons .addBtn {
  background-color: #80c4d8;
  color: #fff;
  margin-right: 0.8rem;
}
#main .main__td .btn {
  float: right;
}
#main .delBtn {
  background-color: #928178;
  color: #fff;
}