<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TODO LIST</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/list.css">　
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- フォント設定 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <script th:href="@{webjars/jquery/3.5.0/jquery.min.js}"></script>
    <!-- <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script> -->
    <script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <!-- これならjQuery使えるけど、やりたいのはこれじゃない -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/list.js}"></script>
</head>

<body>
    <section class="top">
        <div class="top__bg"></div>
        <div class="top__inner">
            <figure class="top__icon">
                <img class="top__iconImg" src="img/check.png" alt="check">
            </figure>
            <h1>TODO LIST</h1>
        </div>
    </section>

    <section id="main">
        <div class="inner">
            <div class="main__buttons">
                <a th:href="@{/list/add}" class="btn addBtn">追加</a>
            </div>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>タイトル</th>
                        <th>済</th>
                        <th>期限</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${itemlist}" th:object="${item}">
                        <td class="main__td center" th:text="*{id}"></td>
                        <td class="main__td center" th:text="*{title}"></td>
                        <td class="main__td center" th:text="*{doneFlg}"></td>
                        <td class="main__td center" th:text="${#dates.format(item.timeLimit, 'yyyy/MM/dd')}"></td>
                        <td class="main__td center"><input class="btn delBtn" type="submit" value="削除"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>