<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment('Error',~{::link},~{::script})}">
        <link rel="stylesheet" th:href="@{/css/error.css}" />
    </head>

    <body>
        <section class="error">
            <div class="error__container">
                <div class="error__box">
                    <h2>エラーが発生しました</h2>
                    <p class="error__text" th:text="${errorMessage}"></p>
                    <a href="/">トップページへ戻る</a>
                </div>
            </div>
        </section>

        <th:block th:insert="~{common/scripts}"></th:block>
    </body>
</html>
