<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/head :: head_fragment('Item List',~{::link},~{::script})}">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </head>

    <body>
        <section class="top">
            <div class="top__bg"></div>
            <div class="top__inner">
                <figure class="top__icon">
                    <img class="top__iconImg" src="/images/check.png" alt="check" />
                </figure>
                <div class="top__box">
                    <h2 th:if="${username == null}">TODO LIST</h2>
                    <h2 th:if="${username != null}" th:text="|${username}さんのTODO LIST|"></h2>
                    <a th:href="@{/logout}" class="btn btn-logout">ログアウト</a>
                </div>
            </div>
        </section>

        <section id="main">
            <div class="inner">
                <div class="buttons">
                    <a th:href="@{/item/add}" class="btn btn-add">追加</a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>タイトル</th>
                            <th>済</th>
                            <th>期限</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item, count : ${itemlist}" th:object="${item}">
                            <td class="main__td" th:text="${count.index + 1}"></td>
                            <td class="main__td" th:text="*{title}"></td>
                            <td class="main__td" th:text="*{state} == 0 ? '' : ${state}"></td>
                            <td class="main__td" th:text="${#dates.format(item.timeLimit, 'yyyy/MM/dd')}"></td>
                            <form th:action="@{/item/delete}" method="post">
                                <td class="main__td">
                                    <input type="hidden" name="id" th:value="*{id}" />
                                    <input class="btn btn-del" type="submit" value="削除" />
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <th:block th:insert="~{common/scripts}"></th:block>
    </body>
</html>
